* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navigation a {
  color: white;
}
.navigation a:hover {
  color: white;
}

.navbar {
  width: 100%;
  height: 50px;
}
.navbar .container-fluid {
  background-color: black;
  height: 50px;
}
.navbar .container-fluid .peterna {
  width: 342px;
  height: 25px;
}
.navbar .container-fluid a {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  line-height: 20px;
  font-weight: 610;
}
.navbar .nav1 {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nav1 a {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
}

#sec1 {
  width: 100%;
  height: 658px;
  background-color: #00798a;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sec1 .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  color: white;
}
#sec1 .col-12 span {
  font-size: 80px;
  font-family: "Open Sans", sans-serif;
  line-height: 114px;
  color: white;
  font-weight: 900px;
}
#sec1 .col-12 h2 {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  line-height: 40px;
  color: white;
  font-weight: 600px;
}
#sec1 .col-12 h3 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  color: white;
  font-weight: 300px;
}
#sec1 .col-12 a {
  background-color: #fc4065;
  width: 301px;
  height: 43px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

body {
  background-image: url(/assets/image/sativa.png);
}

#sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
#sec2 .container .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
#sec2 .container .ourservice {
  height: 200px;
  width: 95%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
#sec2 .container .ourservice h1 {
  color: #00798a;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 550;
}
#sec2 .container .ourservice h3 {
  color: #333333;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
#sec2 .container .ourservice p {
  color: #333333;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
#sec2 .container .feature {
  color: white;
  gap: 10px;
  background-color: #00798a;
  width: 92%;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#sec2 .container .feature h4 {
  font-size: 22px;
  line-height: 40px;
}
#sec2 .container .feature p {
  font-size: 16px;
  line-height: 30px;
}
#sec2 .container .secbottom {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 96%;
  height: 250px;
}
#sec2 .container .secbottom h2 {
  font-size: 30px;
  line-height: 50px;
}
#sec2 .container .secbottom p {
  font-size: 14px;
  line-height: 30px;
}

#sec3 {
  display: flex;
  justify-content: center;
  background-color: #00798a;
  width: 100%;
  height: 230px;
}
#sec3 .container .row {
  width: 100%;
}
#sec3 .container .row .col-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
#sec3 .container .row .col-8 .secmid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 230px;
  color: white;
  gap: 40px;
}
#sec3 .container .row .col-8 .secmid h3 {
  font-size: 60px;
  line-height: 30px;
}
#sec3 .container .row .col-8 .secmid h4 {
  font-size: 22px;
  line-height: 40px;
}
#sec3 .container .row .col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
#sec3 .container .row .col-4 .secmid {
  width: 100%;
  height: 230px;
  color: white;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#sec3 .container .row .col-4 .secmid h3 {
  font-size: 60px;
  line-height: 30px;
}
#sec3 .container .row .col-4 .secmid h4 {
  font-size: 22px;
  line-height: 40px;
}

#sec4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
#sec4 .container .sec4top {
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 201px;
  width: 100%;
}
#sec4 .container .sec4top h1 {
  color: #00798a;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 550;
}
#sec4 .container .sec4top h3 {
  color: #333333;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
#sec4 .container .sec4top p {
  color: #333333;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
#sec4 .container .row {
  width: 100%;
  height: auto;
}
#sec4 .container .row .col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#sec4 .container .row .col-4 .category {
  width: 100%;
  gap: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d8d8d8;
  padding-left: 1px;
}
#sec4 .container .row .col-4 .category li {
  font-size: 25px;
  color: #858585;
}
#sec4 .container .row .col-4 .category .price {
  background-color: #1f8a63;
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  line-height: 64px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  color: white;
}
#sec4 .container .row .col-4 .category .readmorer {
  color: white;
  background-color: #d2322d;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#sec4 .container .row .col-4 .category .readmoreb {
  color: white;
  background-color: #3276b1;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#sec4 .container .row .col-4 .category .readmoreg {
  background-color: #47a447;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
#sec4 .container .row .col-4 .category .head {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600px;
  width: 100%;
  height: 50px;
}

#sec5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00798a;
  width: 100%;
  height: 235px;
  color: white;
  text-align: center;
}
#sec5 .container {
  width: 100%;
  height: auto;
}
#sec5 .container .row {
  width: 100%;
  height: auto;
}
#sec5 .container .row .gap {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sec5 .container .row h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  line-height: 30px;
  font-weight: 900;
}
#sec5 .container .row h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 40px;
  font-weight: 900;
}

#sec6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
#sec6 .container .col-6 {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
#sec6 .container .contactus {
  height: auto;
  width: 95%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
#sec6 .container .contactus h1 {
  color: #00798a;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 550;
}
#sec6 .container .contactus h3 {
  color: #333333;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
#sec6 .container .contactus p {
  color: #333333;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

#form {
  width: 100%;
  height: auto;
}
#form .container {
  width: 100%;
  height: auto;
}
#form .container .row {
  width: 100%;
  height: auto;
}
#form .container .row .name-email {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
#form .container .row .name-email .message-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
#form .container .row .name-email .message-btn .btnsbmt {
  width: 28%;
  height: auto;
}
#form .container .row .name-email .infos {
  line-height: 30px;
  padding-bottom: 15px;
}